* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    /*color: #fff;*/
    /*background-color: #7251B5;*/
    margin: 0;     /*this makes the menu extend to the edges of the page*/
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto; /* tells code to center page */
    padding: 0 2em;
}

#company-name {
    color: #DEC9E9;
    font-size: 1.5rem;
}

#intro,
#fan-fav,
#team {
padding: 4em 0;
}

#header {
    background-color: black;
}

nav ul{
list-style: none;
padding-left: 0; /*space before list items is none*/
}

nav ul li a:visited,
nav ul li a:link {
    text-decoration: none;  /*gets rid of underline*/
    color: #DEC9E9;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
}

#hero-banner {
    height: 60vh;
    background-color: #7251B5; /*add this in case the background image does not load*/
    background-image: url(../images/ice-cream-cones.jpg);
    background-size: cover;
    background-position: center;
}